.profile-image {
    border-radius: 16px;
    width: 123px;
    height: 123px;
}

.title {
    color: #222222;
    font-family: "Golos Text", sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.profile-description {
    color: #222222;
    max-width: 361px;
    font-family: "Golos Text", sans-serif;
    font-size: 15px;
}

.post-count {
    color: #222222;
    font-size: 15px;
    text-align: center;
    font-family: "Golos Text", sans-serif;
    background-color: #F2F3F5;
    border-radius: 6px;
    max-width: 100px;
    height: 30px;
}

.profile-unit {
    max-width: 982px;
}