.page {
    display: flex;
    min-height: 100vh;
    background-color: #fff;
}

.sidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-text {
    font-family: "Golos Text", sans-serif;
    color: #000;
    font-size: 15px;
    max-width: 474px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.post {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px 0;
}
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-header__left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.profile-name {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    text-decoration: none;
}
.edit {
    margin-left: auto;
}
.post-image {
    position: relative;
    width: 100%;
    height: auto;
}
.images-count {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #F2F3F5;
    border-radius: 20px;
    padding: 2px 8px;
    font-size: 13px;
    font-weight: 500;
    color: #000;
}
.post-text {
    font-size: 15px;
    line-height: 1.4;
    color: #000000;
    margin: 4px 0;
}
.text-more {
    font-size: 15px;
    color: #666666;
    text-decoration: none;
}
.post-time {
    font-size: 14px;
    color: #666666;
    margin-top: 6px;
}
.likes-count {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    padding: 4px 10px;
    background-color: #F2F3F5;
    border-radius: 8px;
    max-width: fit-content;
    margin-top: 6px;
}
.user-image {
    border-radius: 15%;
    object-fit: cover;
}
.post-slider {
    position: relative;
    width: 100%;
    max-width: 474px;
    margin: 0 auto;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 474px;
    overflow: hidden;
}

.slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.slider-button {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none;
    border-radius: 50%; 
    width: 24px; 
    height: 24px;
    font-size: 16px;
}

.slider-button:hover {
    background: rgba(0, 0, 0, 0.7);
}

.slider-button.prev {
    left: 10px;
}

.slider-button.next {
    right: 10px;
}

.slider-indicator {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 14px;
}

.single-post-image {
    width: 100%;
    max-width: 474px;
    height: 474px; 
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.modal {
    font-family: "Golos Text", sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #666666;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background: transparent;
    padding: 0;
    max-width: 90%;
    max-height: 90%;
}

.close-modal {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    z-index: 1001;
}

.modal-slider {
    position: relative;
    width: 100%;
    max-width: 474px;
    margin: 0 auto;
}

.modal-slider-container {
    position: relative;
    width: 474px;
    height: 474px;
    overflow: hidden;
}

.modal-slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px; 
    z-index: 1;
    transition: background 0.3s ease;
}

.modal-slider-button:hover {
    background: rgba(0, 0, 0, 0.7); 
}

.modal-slider-button.prev {
    left: 10px; 
}

.modal-slider-button.next {
    right: 10px; 
}

.modal-slider-indicator {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 14px;
}
.post-text {
    font-size: 15px;
    line-height: 1.5;
    color: #000000;
    overflow: hidden;
    max-height: 3em;
}

.post-text.expanded {
    max-height: none;
}

.post-text-toggle {
    display: none;
    margin-top: 4px;
    color: #666666;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.post-text.expanded .post-text-toggle {
    display: inline;
}